.DS_Store
.todo-back-color.xml
.Makefile-back-color.xml
.private-data-back-color.xml
.public-data-back-color.xml
.combine-back-color.xml
.encrypt-back-color.xml
.mimsy.rtf
data.js
private-data.js
combined.html
PortIndex
PortIndex.quick
tmp.js
web-site*
images
pics
lost-pics
scripts/pics.js
