body {
	/* These are reset once we switch to the game view. */
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

#password-view {
	max-width: 430px;
	padding: 15px;
	margin: 0 auto;
}

#game-view {
	display: none;
}

#password-error {
	color: red;
}

#title {
	text-align: center;
}

#logo {
	height: auto;
	margin: 0 auto;
	margin-bottom: 40px;
} 

select, button {
	font-size: 100%;
	margin-top: 25px;
}

.spacer {
	height: 15px;
}

.header {
    width: 100%;
    height: 10vh;
}

.dialog {
    width: 100%;
    height: 15vh;
}

.pic {
    width: 100%;
    height: 75vh;
	object-fit: contain;
	padding-bottom: 15px;
}